body {
  background-color: white;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
title,
a {
  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 500;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 91.6%;
  margin: 8.3% auto;
}

.grid__col--1 {
  width: 8.3%; /*100/12 = 8.3*/
}

.grid__col--2 {
  width: 16.6%; /*(100/12) * 2 = 16.6*/
}

.grid__col--3 {
  width: 25%; /*(100/12) * 2 = 16.6*/
}

.grid__col--8 {
  width: 66.6%; /*(100/12) * 8 = 66.6*/
}

.grid__col--9 {
  width: 75%; /*(100/12) * 9 = 75*/
}

/*.namn,
.contact,
.title,
.work,
.worklist,
.titledescription,
.back,
.description {
   position: fixed;
}*/

.container__fixed {
  position: fixed;
}

.container__fixed--col-2 {
  width: 16.6%;
}

.container__fixed--col-3 {
  width: 25%; /*The 2 columns that enclose this element are 16.6% wide together. Adding this prevents the text from running into the image (in most cases). You need mobile queries later. */
}


.namn {
  font-size: 50px;
  line-height: 1;
  padding-bottom: 10px;
}

.contact {
  font-size: 25px;
  line-height: 1.5;
}

.title {
  font-size: 12px;
}

.work {
  font-size: 19px;
  font-weight: 100;
  }

.worklist {
  line-height: 1.9em;
  list-style: none;
  font-size: 15px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.back {
  font-size: 16px;
  font-weight: 500;
}

.titledescription {
  font-size: 17px;
  font-weight: 500;
}

.description {
  line-height: 1.35em;
  font-size: 16px;
  font-weight: 100;
}

.description,
.titledescription,
.cvochletter {
  padding-bottom: 15px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.linkimages img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.fade-in {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.align {
  float: left;
  padding-left: 300px;
  margin-bottom: 30px;
}

.video-container iframe {
  width: 100%;
}

.lastimage {
  margin-bottom: 500px;
}

/*Mobile Styles*/

@media only screen and (max-width: 620px) {
  .grid__row {
    flex-wrap: wrap;
  }

  .grid__col,
  .container__fixed {
    width: 100%;
  }

  .container__fixed {
    position: relative;
    padding-bottom: 35px;
  }
}